:root {
  --purple: rgb(164, 137, 243);
  --green: rgb(66, 255, 119);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica', sans-serif;
  cursor: none;
}



a {
  cursor: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade.show {
  opacity: 1;
}

#top-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* padding-top: 1em;
  margin-top: 0.5em; */
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  /* margin-bottom: 2em; */
  position: relative;
  padding-top: 2vh;
  margin-bottom: 3vh;
}

.text-box {
  font-size: 1em;
  font-style: italic;
  position: absolute;
  padding-left: 2em;
  bottom: -45em;
  left: 0;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}

#projects {
  display: grid;
  grid-row-gap: 1em;
  text-align: center;
  font-size: 3em;
  padding-top: 4em;
}

.project-image {
  display: none;
}

.projects-button,
.me-button:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.05em;
}

.projects-button {
  cursor: none;
}

.me-button {
  margin-left: 1em;
  cursor: none;
}

.project-div {
  position: relative;
}

@media only screen and (min-width: 1024px) {

html {
  overflow-y: hidden;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Ensure the main takes full viewport height */
  position: relative;
}

#design:hover {
  color: var(--purple);
}

#illustration:hover {
  color: darkgray;
}

#code:hover {
  color: var(--green);
}

#top-bar {
  flex-direction: row;
  justify-content: space-between;
  /* margin-top: 3vh;
  margin-bottom: 3vh; */
  /* margin-bottom: 1em; */
}

.text-box {
  padding-left: 0;
  position: static;
}

#projects {
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
  z-index: 1000;
  position: fixed;
  top: 86%;
}

.project-image {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 85%;
  max-height: 85%;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1000;
}

.project-image.show {
  opacity: 1;
}

body, html {
  cursor: none;
}

.custom-cursor {
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
}
}