body {
    font-family: 'Helvetica', sans-serif;
}

.project-image {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.project-image.show {
    opacity: 1;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 2.2em;
    padding-top: 1em;
}

#projects {
    text-align: center;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12em;
    margin-top: 15em;
}