@media only screen and (min-width: 1024px) {

body, html {
    cursor: none;
}

.custom-cursor {
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
}
}