.projects-button {
    text-decoration: none;
    cursor: pointer;
}

.projects-button:hover,
.me-button:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.05em;
}

#table-of-contents {
    margin-top: 10em;
}

h2 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 2em;
    color: darkgray;
}

h3 {
    font-size: 2em;
    /* padding-top: 1em; */
    padding-bottom: 2em;
    font-style: italic;
}

#illustration-projects {
    font-size: 2em;
    line-height: 1.7em;
    padding-left: 1.5em;
    /* padding-bottom: 6em; */
}

.caption {
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-size: 1.2em;
    font-style: italic;
}

.grid {
    display: grid;
    grid-row-gap: 6em;
    background-color: black;
    color: white;
    padding-top: 6em;
    padding-bottom: 6em;
    /* margin-bottom: 17em; */
}

.information-block {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    max-width: 39em;
}

.project-description {
    font-size: 1em;
    line-height: 1.25em;
}

.white-grid {
    color: black;
    background-color: white;
    padding-top: 0;
    /* margin-bottom: 10em; */
}

.line-break {
    display: block;
    height: 1em;
}

.emphasis {
    font-style: italic;
}

.internal-link {
    text-decoration: underline;
    text-underline-offset: 0.1em;
}

.sticker-screens {
    border-radius: 1.8em;
    margin-bottom: 6em;
}

#absolut-poster-1 {
    display: none;
}

.no-captions {
    grid-row-gap: 1em;
}

.project-divider {
    scale: 25%;
    text-align: center;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

#back-to-top {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s, background-color 0.3s, color 0.3s;
    position: fixed;
    bottom: 1.5em;
    right: 0;
    z-index: 100;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-style: italic;
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 1024px) {

h3 {
    font-size: 3em;
}

#illustration-projects {
    padding-left: 2em;
}

.content:hover {
    cursor: pointer;
    font-style: italic;
}

.caption {
    padding-left: 0;
    font-size: 1.5em;
}

.grid {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2em;
    padding-right: 2em;
    gap: 1em;
    grid-row-gap: 6em;
    /* margin-bottom: 26em; */
}

/* .white-grid {
    margin-bottom: 20em;
} */

.wrapper {
    display: flex;
    gap: 1em;
    width: auto;
    height: auto;
    grid-column: span 2;
}

.grid .landscape {
    grid-column: span 2;
}

.information-block {
    padding-left: 2em;
    padding-bottom: 4em;
    max-width: 55em;
}

.project-description {
    font-size: 1.5em;
    line-height: 1.3em;
}

.internal-link:hover {
    text-decoration: none;
    font-style: italic;
    cursor: pointer;
}

#absolut-poster-1 {
    display: block;
}

.sticker-screens {
    margin-bottom: 0;
}

.no-captions {
    grid-row-gap: 1em;
}

.footer-nav {
    padding-left: 4.5em;
    padding-right: 4.5em;
}

.footer-design:hover {
    color: rgb(164, 137, 243);
    cursor: pointer;
}

.footer-code:hover {
    color: rgb(66, 255, 119);
    cursor: pointer;
}

#back-to-top {
    font-size: 1.4em;
}

#back-to-top:hover {
    background-color: white;
    color: black;
}
}