.projects-button {
    text-decoration: none;
    cursor: pointer;
}

.projects-button:hover,
.me-button:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.05em;
}

#table-of-contents {
    margin-top: 10em;
}

h2 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 2em;
    color: darkgray;
}

h3 {
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: italic;
}

#illustration-projects {
    font-size: 2em;
    line-height: 1.7em;
    padding-left: 1.5em;
    padding-bottom: 6em;
}

.caption {
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-size: 1.2em;
    font-style: italic;
}

.grid {
    display: grid;
    grid-row-gap: 6em;
    background-color: black;
    color: white;
    padding-top: 6em;
    padding-bottom: 6em;
    margin-bottom: 10em;
}

.information-block {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    max-width: 39em;
}

.project-description {
    font-size: 1em;
    line-height: 1.25em;
}

#absolut-grid {
    color: black;
    background-color: white;
    padding-top: 0;
}

.line-break {
    display: block;
    height: 1em;
}

.emphasis {
    font-style: italic;
}

@media only screen and (min-width: 1024px) {

#illustration-projects {
    padding-left: 2em;
}

.content:hover {
    cursor: pointer;
    font-style: italic;
}

.caption {
    padding-left: 0;
    font-size: 1.5em;
}

.grid {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 1em;
    padding-right: 1em;
    gap: 1em;
    grid-row-gap: 6em;
    margin-bottom: 20em;
}

.grid .landscape {
    grid-column: span 2;
}

.information-block {
    padding-left: 2em;
    padding-bottom: 4em;
    max-width: 55em;
}

.project-description {
    font-size: 1.5em;
    line-height: 1.3em;
}
}