html {
    overflow-y: visible;
}

.projects-button {
    text-decoration: none;
    cursor: none;
}

.projects-button:hover,
.me-button:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.05em;
}

#table-of-contents {
    margin-top: 10em;
    margin-bottom: 15em;
}

h2 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 2em;
    color: darkgray;
}

h3 {
    font-size: 2em;
    padding-left: 0.8em;
    padding-top: 2em;
    padding-bottom: 1em;
}

h4 {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 1em;
}

#illustration-projects {
    font-size: 2em;
    line-height: 1.7em;
    padding-left: 1.5em;
}

.project-banner {
    padding-bottom: 2em ;
}

.intro-info {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 4em;
    line-height: 1.4em;
}

.project-intro {
    max-width: 33em;
    padding-bottom: 6em;
}

.scope-timeline-agenda {
    max-width: 28em;
}

.space-top {
    padding-top: 1.35em;
}

.caption {
    padding-top: 2em;
    padding-left: 1.5em;
}

.grid {
    display: grid;
    grid-row-gap: 6em;
    background-color: black;
    color: white;
    padding-top: 6em;
    padding-bottom: 6em;
}

.white-grid {
    color: black;
    background-color: white;
    padding-top: 0;
}

.line-break {
    display: block;
    height: 1em;
}

.emphasis {
    font-style: italic;
}

.internal-link {
    text-decoration: underline;
    text-underline-offset: 0.25em;
}

.sticker-screens {
    border-radius: 1.8em;
    margin-bottom: 6em;
}

#absolut-poster-1 {
    display: none;
}

.no-captions {
    grid-row-gap: 1em;
}

.project-divider {
    scale: 25%;
    text-align: center;
    opacity: 20%;
    transition: opacity 0.5s, visibility 0.5s;
    padding-top: 4em;
    padding-bottom: 3em;
  }

.project-divider.visible {
    opacity: 20%;
    visibility: visible;
}

.project-divider.hidden {
    opacity: 0;
    visibility: hidden;
}

.less-space {
    margin-top: -6em;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.25em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

#back-to-top {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s, background-color 0.3s, color 0.3s;
    position: fixed;
    bottom: 1.5em;
    right: 0;
    z-index: 100;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: black;
    color: white;
    border: none;
    cursor: none;
    font-size: 1em;
    font-style: italic;
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

#top-bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.wrapper {
    padding-left: 3em;
    padding-right: 3em;
}

@media only screen and (min-width: 1024px) {

h3 {
    font-size: 3em;
    padding-left: 2em;
    padding-top: 1em;
    text-align: left;
}

.img-width {
    width: 100%;
}

#illustration-projects {
    padding-left: 3em;
}

.project-banner {
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 2em ;
}

.intro-info {
    display: flex;
    gap: 6em;
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 6em;
    line-height: 1.55em;
}

.content:hover {
    cursor: none;
    font-style: italic;
}

.caption {
    padding-left: 0;
}

.grid {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 6em;
    padding-right: 6em;
    gap: 3em;
    grid-row-gap: 6em;
}

.wrapper {
    display: flex;
    width: auto;
    height: auto;
    grid-column: span 2;
    gap: 6em;
    padding-left: 0;
    padding-right: 0;
}

.grid .landscape {
    grid-column: span 2;
}

.internal-link:hover {
    text-decoration: none;
    color: darkgray;
    cursor: none;
}

#absolut-poster {
    padding-left: 25em;
    padding-right: 25em;
}

.sticker-screens {
    margin-bottom: 0;
}

.no-captions {
    grid-row-gap: 1em;
}

.footer-nav {
    padding-left: 4.5em;
    padding-right: 4.5em;
    font-size: 3em;
}

.footer-design:hover {
    color: var(--drop-purple);
    cursor: none;
}

.footer-code:hover {
    color: var(--code-green);
    cursor: none;
}

.footer-illustration:hover {
    color: darkgray;
    cursor: none;
}

#back-to-top:hover {
    background-color: white;
    color: black;
}

.bottom-space {
    margin-bottom: 0;
}

.custom-cursor {
    background-color: darkgray;
}
}

/* @media only screen and (min-width: 2000px) {

h2 {
    font-size: 5em;
    padding-bottom: 4em;
}

h3,
#illustration-projects {
    font-size: 3.5em;
}

.project-description,
.caption {
    font-size: 2.2em;
    line-height: 1.5em;
}

.project-divider {
    scale: 40%;
    padding-top: 20em;
    padding-bottom: 20em;
}

#back-to-top {
    font-size: 1.8em;
}
} */