h2 {
    color: var(--drop-purple);
}

.prototype-style {
    border-radius: 1em;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.75);
    margin-bottom: 2em;
}

.project-banner {
    padding-bottom: 2em ;
}

h4 {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 1em;
}

h5 {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--drop-yellow);
    margin-bottom: 2em;
    padding-left: 1.23em;
    padding-right: 1.23em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#h5-prototypes {
    background-color: var(--drop-green);
}

#h5-branding {
    background-color: var(--drop-pink);
}

#h5-product {
    background-color: var(--drop-purple);
}

#h5-presentation {
    background-color: var(--drop-blue);
}

#h5-analysis {
    background-color: var(--to-blue-1);
}

#h5-to-prototype {
    background-color: var(--to-blue-2);
}

#h5-to-branding {
    color: white;
    background-color: var(--to-blue-3);
}

#h5-to-product {
    color: white;
    background-color: black;
}

#h5-smash-branding {
    color: white;
    background-color: black;
}

#h5-smash-interior {
    background-color: var(--smash-orange);
    margin-top: 3em;
}

.slides-3 {
    margin-bottom: 3em;
}

.space-top {
    padding-top: 1.35em;
}

.anchor-space {
    padding-top: 4em;
}

.intro-info {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 6em;
    line-height: 1.4em;
}

.more-info {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 6em;
    line-height: 1.4em;
    max-width: 36em;
}

.low-caption {
    margin-top: 0.5em;
}

.lower-caption {
    margin-top: 2em;
}

.no-padding {
    padding: 0;
}

.project-intro {
    max-width: 33em;
    padding-bottom: 6em;
}

.scope-timeline-agenda {
    max-width: 28em;
}

.team {
    line-height: 1.8em;
}

.agenda {
    list-style-type: none; /* remove default bullets */
    list-style-position: inside;
    line-height: 1.7em;
}

.agenda li {
    display: flex;
    align-items: center;
}

.agenda li::before {
    content: '■'; /* add custom bullet */
    font-size: 2.2em;
    margin-right: 0.5em;
    display: inline-block;
    line-height: 0.9em;
}

#yellow-bullet {
    color: var(--drop-yellow);
}

#pink-bullet {
    color: var(--drop-pink);
}

#purple-bullet {
    color: var(--drop-purple);
}

#blue-bullet {
    color: var(--drop-blue);
}

#green-bullet {
    color: var(--drop-green);
}

#to-blue-bullet-1 {
    color: var(--to-blue-1)
}

#to-blue-bullet-2 {
    color: var(--to-blue-2)
}

#to-blue-bullet-3 {
    color: var(--to-blue-3)
}

#orange-bullet {
    color: var(--smash-orange)
}

.agenda-text {
    color: black;
}

.slideshow-container {
    position: relative;
    margin: auto;
    padding-bottom: 2em;
}

#slides-10 {
    padding-bottom: 0;
}

.prev,
.next {
    position: absolute;
    top: 38%;
    /* width: auto; */
    padding: 0.3em;
    color: white;
    font-size: 1em;
    transition: 0.3s ease;
    user-select: none;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(164, 137, 243);
}

.numbertext {
    color: white;
    font-size: 0.8em;
    padding: 1em 1em;
    position: absolute;
    top: 0;
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4,
.mySlides5,
.mySlides6,
.mySlides7,
.mySlides8,
.mySlides9,
.mySlides10,
.mySlides11,
.mySlides12,
.mySlides13,
.mySlides14,
.mySlides15 {
    display: none;
}

.mySlides1:first-child,
.mySlides2:first-child,
.mySlides3:first-child,
.mySlides4:first-child,
.mySlides5:first-child,
.mySlides6:first-child,
.mySlides7:first-child,
.mySlides8:first-child,
.mySlides9:first-child,
.mySlides10:first-child,
.mySlides11:first-child,
.mySlides12:first-child,
.mySlides13:first-child,
.mySlides14:first-child,
.mySlides15:first-child {
    display: block;
}

.black-slide-controls {
    color: black;
}

.vids-wrap {
    display: grid;
    grid-row-gap: 6em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 6em;
}

.visibility {
    display: none;
}

.grid {
    padding-bottom: 0;
    grid-row-gap: 0;
}

.lower-controls {
    top: 45%;
}

.margin-bottom {
    margin-bottom: 2em;
}

#smash-insta {
    padding-top: 3em;
    padding-bottom: 3em;
}

@media only screen and (min-width: 1024px) {

.slideshow-container {
    margin-left: 6em;
    flex: 1;
}

#slides-10 {
    margin-left: 0;
}

.text-slideshow {
    display: flex;
    gap: 2em;
}

.slides-3 {
    margin-bottom: 6em;
}

.intro-info {
    display: flex;
    gap: 6em;
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 8em;
    line-height: 1.55em;
}

.more-info {
    padding-right: 6em;
    line-height: 1.55em;
    flex: 1;
    z-index: 1;
}

.low-caption,
.lower-caption {
    padding-left: 0;
}

.project-banner {
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 2em ;
}

.internal-link:hover {
    color: var(--drop-purple);
}

.custom-cursor {
    background-color: var(--drop-purple);
}

h5 {
    font-size: 1.5em;
    margin-left: 4em;
    padding-left: 2em;
    padding-right: 2em;
}

.prev,
.next {
    margin-top: -1.5em;
    font-size: 2em;
    top: 50%;
}

.numbertext {
    font-size: 1em;
}

.vids-wrap {
    display: flex;
    margin-left: 13em;
    margin-right: 13em;
    margin-bottom: 9em;
    gap: 6em;
}

.text-vid {
    display: flex;
    align-items: start;
}

.single-vid {
    margin-right: 2em;
    margin-left: 2em;
    gap: 0;
}

.visibility {
    display: block;
    visibility: hidden;
}

#wrap-3 {
    margin-left: 6em;
    margin-right: 6em;
    gap: 3em;
}

.even-more-space {
    margin-bottom: 10em;
}

.lower-controls {
    top: 58%;
}

#h5-smash-interior {
    margin-top: 5em;
}

.fin-caption {
    padding-left: 6em;
}

#smash-insta {
    padding-top: 6em;
    padding-bottom: 6em;
    padding-left: 6em;
    padding-right: 6em;
    gap: 4em;
}

.wider-caption {
    max-width: 200em;
}
}