.prototype-style {
    border-radius: 1em;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.75);
}

.caption {
    padding-top: 1em;
}

.drop-caption {
    padding-bottom: 5em;
}

@media only screen and (min-width: 1024px) {

h2,
.internal-link:hover {
    color: rgb(164, 137, 243);
}

.wrapper {
    gap: 3em;
    margin-bottom: -7em;
}

.border-style {
    border-style: solid;
    border-width: 0.12em;
    border-radius: 0.1em;
}
}