.grid-padding {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

@media only screen and (min-width: 1024px) {

h2,
.internal-link:hover {
    color: rgb(66, 255, 119);
}

.grid-padding {
    padding-left: 2em;
    padding-right: 2em;
}

.bottom-space-2 {
    margin-bottom: 3em;
}

.custom-cursor {
    background-color: rgb(66, 255, 119);
}
}