h2 {
    color: var(--code-green);
}

h5 {
    color: white;
    background-color: black;
}

.code-caption {
    margin-bottom: 6em;
}

.gray {
    color: darkgray;
}

.grid-padding {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.anchor-space {
    margin-top: 4em;
}

.agenda {
    margin-bottom: -5em;
}

@media only screen and (min-width: 1024px) {

.internal-link:hover {
    color: var(--code-green);
}

.grid-padding {
    padding-left: 6em;
    padding-right: 6em;
}

.bottom-space-2 {
    margin-bottom: 3em;
}

#dlb {
    padding-top: 10em;
}

.agenda {
    margin-bottom: -10em;
}

.custom-cursor {
    background-color: var(--code-green);
}

.wrapper {
    gap: 3em;
}

.landscape {
    margin-left: 6em;
    margin-right: 6em;
}
}