body {
  font-family: 'Helvetica', sans-serif;
  cursor: default;
  /* color: white;
  background-color: black; */
}

a {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.1em;
}

a:hover {
    text-decoration: none;
}

.project-image {
  scale: 80%;
  position: fixed;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.project-image.show {
  opacity: 1;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2em;
  padding-top: 0.8em;
}

#projects {
  text-align: center;
  font-size: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
  padding-top: 11.5em;
  margin-left: 3em;
  margin-right: 3em;
}

/* .container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.scroll {
  white-space: nowrap;
  margin: 0 2em;
}

.scroll div {
  display: flex;
}

.scroll p {
  font-size: 1em;
  font-style: italic;
}

.RightToLeft {
  animation: RightToLeft 40s infinite linear;
}

@keyframes  RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.space {
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-style: normal;
} */

.text-box {
  font-size: 1em;
  font-style: italic;
  margin-top: 1em;
  margin-left: 1em;
}

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade.show {
  opacity: 1;
}