@media only screen and (min-width: 5px) {

body {
  font-family: 'Helvetica', sans-serif;
  cursor: default;
}

a {
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade.show {
  opacity: 1;
}

#top-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
}

.text-box {
  font-size: 1em;
  font-style: italic;
  position: absolute;
  bottom: -41em;
  left: 0;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2em;
  padding-top: 1em;
}

#projects {
  display: grid;
  grid-row-gap: 1em;
  text-align: center;
  font-size: 3em;
  padding-top: 3.2em;
}

.project-image {
  display: none;
}

.projects-button,
.me-button:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.05em;
}

.me-button {
  margin-left: 1em;
  cursor: pointer;
}

.project-div {
  position: relative;
}
}

@media only screen and (min-width: 1024px) {

#design:hover {
  color: rgb(164, 137, 243);
}

#illustration:hover {
  color: darkgray;
}

#code:hover {
  color: rgb(66, 255, 119);
}

#top-bar {
  flex-direction: row;
  justify-content: space-between;
}

.text-box {
  position: static;
}

#projects {
  padding-top: 11.5em;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  padding-left: 2.55em;
  padding-right: 2.55em;
}

.project-image {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 85%;
  max-height: 85%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.project-image.show {
  opacity: 1;
}
}