body {
    color: white;
    background-color: black;
}

.projects-button {
    text-decoration: none;
    cursor: pointer;
}

.me-button,
.projects-button:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.05em;
}

.me-button {
    cursor: default;
}