body {
    color: white;
    background-color: black;
}

.projects-button {
    text-decoration: none;
    cursor: pointer;
}

.me-button,
.projects-button:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.05em;
}

.me-button {
    cursor: default;
}

#me-image {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 85%;
    max-height: 85%;
}